* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*
  in principe is het font "inter", als alternatief: "sans-serif"
  */
  font-family: Inter, sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #293169;
  height: 90px;
  padding: 30px 25px;
}

nav > h3,
  /* lees hier: de h3-kop binnen het nav-element */
nav > h4 {
  margin: 0;
}

.nav--logo_text {
  /* volgende regel geeft ruimte aan rechterkant*/
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

/* .main-title {
}

.main-item {
} */
